/*------------------------------------*\
    #masthead
\*------------------------------------*/


/***


1) .is-logged-in state (body) is used for defining height of fixed menu

***/



.masthead {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

