///*------------------------------------*\
//    #GRIDS
//\*------------------------------------*/


$phone:          480px;
$tablet:         768px;
$desktop:        992px;
$desktop-large:  1200px;

/* Landscape phones and smaller | @media (max-width: 479px) */
$bp-xxsmall:          max-width ($phone - 1);

/* Landscape phones and smaller | @media @media (min-width: 480px) and (max-width: 767px) */
$bp-xsmall:          $phone ($tablet - 1);

/* Portrait tablets and small desktops | @media (min-width: 768px) and (max-width: 991px) */
$bp-small:         $tablet ($desktop - 1);

/* Portrait tablets and medium desktops | @media (min-width: 992px) and (max-width: 1199px)  */
$bp-medium:        $desktop ($desktop-large - 1);


/* Large desktops and laptops | @media (min-width: 1200px)  */
$bp-large:  $desktop-large;



$breakpoints: (
    'phone':          480px,
    'tablet':         768px,
    'desktop':        992px,
    'desktop-large':  1200px
);
