/**
 * #SETTINGS
 */
@import "bower_components/inuit-defaults/settings.defaults";
@import "settings.global";
@import "settings.grids";
@import "settings.colors";




/**
 * #TOOLS
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "tools.aliases";
@import "tools.mixins";
@import "bower_components/mappy-breakpoints/mappy-breakpoints";



/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "bower_components/inuit-reset/generic.reset";
@import "bower_components/inuit-shared/generic.shared";





/**
 * #BASE
 */
@import "bower_components/inuit-page/base.page";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-headings/base.headings";
@import "bower_components/inuit-paragraphs/base.paragraphs";
@import "base.page";
@import "base.links";
@import "base.images";
@import "base.typo";
@import "base.keyframes";
@import "base.typeface";





/**
 * #OBJECTS
 */


/*** WRAPPERS ***/
@import "objects.wrappers";


/** BUTTONS ***/
$inuit-btn-background:      $color-btn;
$inuit-btn-radius:          $base-round;
$inuit-btn-border-width:    0px;
$inuit-enable-btn--small:   true;
$inuit-btn-border-width:    0px;
$inuit-enable-btn--full:    true;
@import "bower_components/inuit-buttons/objects.buttons";
@import "bower_components/inuit-list-bare/objects.list-bare";


@import "bower_components/inuit-media/objects.media";



/*** TABLES **/
$inuit-table-padding--compact:  quarter($inuit-base-spacing-unit) !default;
$inuit-table-padding--cosy:     halve($inuit-base-spacing-unit) !default;
$inuit-table-padding--comfy:    $inuit-base-spacing-unit !default;

$inuit-table-border-width:      1px;
$inuit-table-border-style:      solid;
$inuit-table-border-color:      #ccc;
$inuit-enable-table--rows:      true;

@import "bower_components/inuit-tables/objects.tables";





/**
 * #COMPONENTS
 */

@import "components.page-head";
@import "components.page-foot";
@import "components.nav";
@import "components.logo";
@import "components.home";
@import "components.bands";
@import "components.masthead";
@import "components.icons";
@import "components.forms";
@import "components.content";
@import "components.blocks";
@import "components.buttons";
@import "components.lists";
@import "components.dropdowns";
@import "components.breadcrumbs";
@import "components.layout";
@import "components.sidebar";
@import "components.elastislide";




/**
 * #TRUMPS
 */


@import "bower_components/inuit-clearfix/trumps.clearfix";




$inuit-enable-margins:          true;
$inuit-enable-margins--huge:    true;
$inuit-enable-margins--none:    true;
@import "bower_components/inuit-spacing/trumps.spacing";
@import "bower_components/inuit-spacing-responsive/trumps.spacing-responsive";

@import "trumps.show-hide";
@import "trumps.helpers";
@import "trumps.grids";

